[Unit]
Description=Timer for spotify service
Wants=spotify.service

[Timer]
OnBootSec=0min
OnUnitActiveSec=6h
Unit=spotify.service

[Install]
WantedBy=timers.target
